.hiddenFrame {
  width:1px;
  height:1px;
  visibility:hidden
}


.main {
  width: 960px;
  height: 670px;
  background: #f1f1f5;
  @include clearfix;
  margin: 0 auto;
  @include shadow;
  @include border-radius;
}

.image-view {
  float: left;
  width: 650px;
  height: 630px;
  padding: 15px 25px 25px 25px;
  background: url(../img/image-bg.png);
  @include border-radius( 4px 0 0 4px);
}

.image-view__text {
  height: 100px;
}

.image-view__title {
  font-family: $seg;
  font-size: 36px;
  line-height: 38px;
  color: #fff;
  margin-top: 0;
  padding-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-view__container {
  position: relative;
  background: url(../img/workplace-bg.jpg);
  height: 530px;
}

.image-view__container-main-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;

  .image-view__main-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .image-view__water-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .wrap-image-view__water-till-block {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
}

.image-view__upload {
  width: 100%;
  height: auto;
  @include center;
}

.image-view__watermark {
  @include center;
}

//---------------- sidebar-------------------

.saidbar {
  float: right;
  width: 260px;
  position: relative;
}

.saidbar_text {
  height: 62px;
  padding-top: 25px;
  text-align: center;
}

.saidbar__title {
  font-family: $light;
  font-size: 26px;
  color: $black;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar__disable {
  position: absolute;
  height: 500px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #f1f1f5;
  opacity: 0.5;
}

.sidebar__disable_settings {
  height: 360px;
}

.sidebar__disable_none {
  display: none;
}

//----------------- form --------------------
.file-upload {
  padding: $pdg;
  position: relative;
  margin-bottom: 30px;
}

.file-upload__label {
  display: block;
  margin-bottom: 21px;
}

.file-upload__title {
  font-family: $light;
  font-size: 14px;
  margin-bottom: 7px;
  color: $black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-upload__container {
  position: relative;
}

.file-upload__input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.file-upload__inputInvis {
  position: absolute;
  top: 0;
  left: -9999px;
}
.file-upload__fake {
  font-family: $light;
  font-size: 12px;
  color: $grey;
  padding: 5px 3px 4px 3px;
  border: $greyBord;
  outline: 0px;
  @include border-radius;
  cursor: pointer;
  background: #f7f7f7;
}

.file-upload__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  @include get-sprite($map, image-upload);
  cursor: pointer;
}

//------------- position -------------------
.separator {
  border-top: 1px solid #f4c3c2;

  &:before {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    margin: auto;
    content: "";
    width: 19px;
    height: 11px;
    background: url(../img/title-arrow.jpg) no-repeat;
  }
}
.position {
  padding: $pdg;
  border-top: 1px solid #f4c3c2;
  position: relative;
  margin-bottom: 25px;

  &:before {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    margin: auto;
    content: "";
    width: 19px;
    height: 11px;
    background: url(../img/title-arrow.jpg) no-repeat;
  }
}

.position__title {
  width: 150px;
  padding-top: 13px;
  margin-bottom: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.position-container {
  @include clearfix;
}

.position-left {
  float: left;
  position: relative;
}
.position-left__list {
  font-size: 0;
  width: 99px;
  @include border-radius;
  overflow: hidden;
  border: $greyBord;
}

.position-left__item {
  border-bottom: $greyBord;
  border-right: $greyBord;
  display: inline-block;
  background: $lightGrey;
  width: 33px;
  height: 33px;
  box-sizing: border-box;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-child(7n) {
    border-bottom: 0;
  }

  &:nth-child(8n) {
    border-bottom: 0;
  }

  &:nth-child(9n) {
    border-bottom: 0;
  }
}

.position-left__link {
  display: block;
  width: 100%;
  height: 100%;

  &:hover {
    background: #bfcbd9;
    @include transition;
  }

  &_active {

  }
}

.position-left__item_active {
  background-color: #f97e76;
  &:hover {
    .position-left__link {
      background: none;
    }
  }
}

.position-left__till {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  padding: 0;
  box-sizing:border-box;
  display: none;
}

.position-left__till-item {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #f97e76;
  position: absolute;
}
.position-left__till-item_top-left {
  top: 0;
  left: 0;
}
.position-left__till-item_top-right {
  top: 0;
  right: 0;
}
.position-left__till-item_btm-left {
  bottom: 0;
  left: 0;
}
.position-left__till-item_btm-right {
  bottom: 0;
  right: 0;
}


.position-right {
  float: right;
}

.position-right__top,
.position-right__bottom {
  margin-bottom: 11px;
  position: relative;
}
.position-right__top{
}
.position-right__vector {
	position: absolute;
	left: -15px;
	top: 14px;
  width: 13px;
  font-family: $light;
  font-size: 16px;
  color: $black;
}

.position-right_arrow-vert {
	position: absolute;
	left: -15px;
	top: 10px;
  width: 11px;
  height: 30px;
  @include get-sprite($map, y-position);
}

.position-right_arrow-hor {
	position: absolute;
	left: -33px;
	top: 20px;
  width: 29px;
  height: 9px;
  @include get-sprite($map, x-position);
}
// change-view ----------------------------
.change-view {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
}

.change-view__item {
  display: inline-block;
  padding-left: 10px;
  float: right;
}

.change-view__link {
  display: block;
  width: 19px;
  height: 19px;
}

.change-view__link_normal {
  @include get-sprite($map, view-normal);

  &:hover, &.active {
    @include get-sprite($map, view-normal-hover);
  }
}

.change-view__link_multi {
  @include get-sprite($map, view-multi);

  &:hover, &.active {
    @include get-sprite($map, view-multi-hover);
  }
}

.position-view__item {
  display: none;
  @include clearfix;
}

.position-view__item_active {
  display: block;
}

// spinners -----------------------------------------
.opacity__input-invis {
  position: absolute;
  top: 0;
  left: -9999px;
}
.ui-widget-content {
  background: none !important;
  color: #444a53 !important;
  font-size: 24px !important;
  line-height: 24px !important;
}

.ui-spinner-input {
  background: #f7f7f7 !important;
  font-family: "SegoeUILight" !important;
  width: 45px;
  padding: 6px 0 !important;
  border: 1px solid #9eb2c0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  font-size: 24px !important;
  line-height: 24px !important;
}

.ui-state-default {
  background: #f1f1f5 !important;
}

.ui-state-hover {
  background-image: #f1f1f5 !important;
}

.ui-spinner-down {
  bottom: -5px !important;
}

.ui-icon-triangle-1-n {
  cursor: pointer !important;
  display: block !important;
  width: 13px !important;
  height: 8px !important;
  background: url('../img/icons-s14e72c0174.png') 0 -234px no-repeat !important;

  &:hover {
	background: url('../img/icons-s14e72c0174.png') 0 -156px no-repeat !important;
  }
}

.ui-icon-triangle-1-s {
  cursor: pointer !important;
  display: block !important;
  width: 13px !important;
  height: 8px !important;
  background: url('../img/icons-s14e72c0174.png') 0 -78px no-repeat !important;

  &:hover {
	background: url('../img/icons-s14e72c0174.png') 0 0 no-repeat !important;
  }
}

.position-right__input-top {
  background: #f1f1f5;
  width: 43px;
  padding: 6px 0;
  text-align: center;
  @include inlineblock;
  font-family: $seg;
  font-size: 24px;
  line-height: 24px;
  color: $LightBl;
  outline: none;
  border: $greyBord;
  @include border-radius;
}

.position-right__input-bot {
  @extend .position-right__input-top;
}

//-------------- opacity --------------------

.opacity {
  position: relative;
}
.opacity__style {
  padding: $pdg;
  padding-top: 15px;
  margin-bottom: 33px;
}
.opacity__title {
  margin-bottom: 27px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.opacity__input-invis {
  position: absolute;
  top: 0;
  left: -9999px;
}

.ui-state-default {
  border: 0 !important;
  outline: none !important;
}

.ui-widget-content {
  border: 0 !important;
}

.ui-slider-horizontal {
  height: 3px !important;
  background: $lightGrey !important;
}

.ui-widget-header {
  background: $grey !important;
}

.ui-slider-handle {
  background: url('../img/icons-s14e72c0174.png') 0 -504px no-repeat !important;
  width: 24px !important;
  height: 24px !important;
  top: -9px !important;
  margin-left: -10px !important;

  &:hover {
	background: url('../img/icons-s14e72c0174.png') 0 -410px no-repeat !important;
	cursor: pointer !important;
  }
}

// ------------- buttons --------------------------
.buttons {
  position: relative;
  @include clearfix;
  border-top: 1px solid #f4c3c2;
  padding: 0 10px;
  padding-top: 55px;

  &:before {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    margin: auto;
    content: "";
    width: 19px;
    height: 11px;
    background: url(../img/title-arrow.jpg) no-repeat;
  }
}

.buttons__reset {
  float: left;
  border: none;
  width: 99px;
  padding: 10px 0;
  text-align: center;
  background: #c1cfd9;
  font-family: $med;
  font-size: 18px;
  color: #fff;
  @include border-radius;
  outline: none;

  &:hover {
    background: #839fb3;
    @include transition;
  }
}

.buttons__download {
  float: right;
  border: none;
  width: 99px;
  padding: 10px 0;
  text-align: center;
  background: #f97e76;
  font-family: $med;
  font-size: 18px;
  color: #fff;
  @include border-radius;
  outline: none;

  &:hover {
    background: #d73d33;
    @include transition;
  }
}

//-------------Language--------------
.icons{
  display: block;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 10;
}

.icons__lang-list{
  padding: 0;
  margin: 0 0 20px;
}

.icons__lang-item{
  font-family: 'SegoeUILight';
  font-size: 18px;
  display: block;
  padding: 4px 3px;
  margin-bottom: 1px;
  background: #d7d5d7;
  &.active{
    background: #b2b0b2;
  }
}
.icons__lang-item.active .icons__lang-link{
  color: #FFFFFF;
}
.icons__lang-link{
  text-decoration: none;
  color: #999ca1;
}

// instuctions ----------------------------
.icons__instuctions {
  margin-bottom: 20px;
}

.icons__instuctions_link {
  display: block;
  @include get-sprite($map2, instructions);

  &:hover {
    @include get-sprite($map2, instructions-hover);
  }
}

//--------------Social buttons--------------
.icons__social{
  display: block;
  left: 0;
  &:hover{
    left: 39px;
    position: absolute;
    -webkit-transition: left .5s;
    -moz-transition: left .5s;
    -ms-transition: left .5s;
    -o-transition: left .5s;
    transition: left .5s;
  }
}
.icons__social-link {
  text-indent: -9999px;

  &.like{
    position: absolute;
    left: 0;
    @include get-sprite($map2, like);
    &:hover{
      @include get-sprite($map2, like-hover);
    }
  }
}
.icons__social-list{
  position: absolute;
  left: -43px;
}
.icons__social-item{
  display: block;
}
.icons__social-item_fb{
  @include get-sprite($map2, fb);
  &:hover{
    @include get-sprite($map2, fb-hover);
  }
}
.icons__social-item_tw{
  @include get-sprite($map2, tw);
  &:hover{
    @include get-sprite($map2, tw-hover);
  }
}
.icons__social-item_vk{
  @include get-sprite($map2, vk);
  &:hover{
    @include get-sprite($map2, vk-hover);
  }
}


// popup -----------------------
.popup {
  display: none;
  top: 50%;
  left: 50%;
}

.popup__container {
  position: relative;
  padding: 20px;
  width: 500px;
  background: #fff;
  @include border-radius;
}

.popup__logo-container {
  text-align: center;
  margin: 20px 0 30px;
}

.popup__content {
	padding-bottom: 20px;
}

.popup__title {
  text-align: center;
  font-size: 24px;
}

.popup__text__list {
  margin: 20px 40px;
}

.popup__text__item {
  list-style: decimal;
  margin-bottom: 10px;
}

.popup__copyright {
	text-align: center;
	border-top: 1px dashed #555;
	padding-top: 30px;
	margin: 0 20px;
}

.popup__text__item_copy {
	list-style: none;
}

.popup__exit_icon {
	z-index: 9999;
	position: absolute;
	top: 10px;
	right: 10px;
	@include get-sprite($map, z-exit);

	&:hover {
		opacity: 0.4;
	}
}