// общие переменные
$med: "RobotoMedium";
$light: "RobotoLight";
$seg: "SegoeUILight";

$black: #2e3641;
$LightBl: #444a53;
$greyBord: 1px solid #9eb2c0;
$grey: #9eb2c0;

$pdg: 0 21px 0 20px;

//основная разметка
body {
	font-family: $light;
	font-size: 14px;
	color: #333;
}

body, html {
	width: 100%;
	height: 100%;
	background: url(../img/site-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

body, ul, ol, li, h1, h2 {
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-weight: normal;
}

li {
	list-style: none;
}

a {
	color: #333;
}

p {
	font-weight: normal;
	line-height: 20px;
}

.wrapper {
	position: relative;
	min-width: 960px;
	min-height: 100%;
	box-sizing: border-box;
	padding-bottom: 30px;
}

.footer {
	min-width: 960px;
	height: 30px;
	clear: both;
	margin-top: -30px;
	font-family: $seg;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.clearfix {
    &:before,
	&:after {
		content: "";
		display: table;
	}
	
	&:after {
		clear: both;
	}
}
