$map: sprite-map('icons/*.png', $spacing: 70px);

@mixin get-sprite ($map, $icon) {
  $sprite-image: sprite-file($map, $icon);
  $sprite-map: sprite-url($map);
  $sprite-position: sprite-position($map, $icon);

  background: $sprite-map $sprite-position no-repeat;

  $sprite-height: image-height($sprite-image);
  $sprite-width: image-width($sprite-image);

  height: $sprite-height;
  width: $sprite-width;
}

@mixin border-radius ($radius: 4px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin clearfix {

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear:both;
	}
}

@mixin inlineblock ($value: top){
	display: inline-block;
	vertical-align: $value;
}

@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}