include _common/_mixins
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html(lang="ru-RU")
	head
		include _common/_head
		title Приложение для добавления водяных знаков на фотографию
	body
		div(id="particles-js")
		.wrapper
			.main
				section.image-view
					.image-view__text
						h1.image-view__title Генератор водяных знаков
					.image-view__container
						.image-view__container-main-image(data-ratio=0)
							img.image-view__main-img
							img.image-view__water-img
							.wrap-image-view__water-till-block(data-x-elem=0 data-y-elem=0)
								

				aside.saidbar
					form(id="upload" action="php/compileImg.php" method="POST" enctype="multipart/form-data")
						.saidbar_text
							h2.saidbar__title Настройки

						.file-upload
							label.file-upload__label
								.file-upload__title Исходное изображение
								.file-upload__container
									input.file-upload__input(type="file" id="fileupload" name="files[]" accept="image/jpeg, image/jpg")
									.file-upload__fake#fake выберите рисунок
									.file-upload__icon
									input.file-upload__inputInvis(type="text" name="mainFileText" id="mainFileText")

							label.file-upload__label
								.file-upload__title Водяной знак
								.file-upload__container
									input.file-upload__input(type="file" id="fileuploadWat" accept="image/png")
									.file-upload__fake#fakeWat выберите водяной знак
									.file-upload__icon
									input.file-upload__inputInvis(type="text" name="waterFileText" id="waterFileText")

						.position.separator
							.position__title Положение
							.position-container

								ul.position-view__list
									li.position-view__item.position-view__item_active
										.position-left
											-var datas = ['top-left', 'top-center', 'top-right', 'mid-left', 'mid-center', 'mid-right', 'btm-left', 'btm-center', 'btm-right']; 
											ul.position-left__list
												each item in datas
													li(class="position-left__item" data-pos= item) like
														a.position-left__link(href="#")
											-var angles = ['top-left', 'top-right', 'btm-left', 'btm-right']
											.position-left__till
												each angle in angles
													div(class="position-left__till-item position-left__till-item_" + angle)

										.position-right
											.position-right__top
												span.position-right__vector X
												.position-right_arrow-vert
												input.position-right__input-top(type="text" value="0" name="positionX")
												.position-right__buttons
													a.position-right__up(href="#")
													a.position-right__down(href="#")

											.position-right__bottom
												span.position-right__vector Y
												.position-right_arrow-hor
												input.position-right__input-bot(type="text" value="0" name="positionY")
												.position-right__buttons
													a.position-right__up(href="#")
													a.position-right__down(href="#")
							.change-view
								ul.change-view__list
									li.change-view__item
										a.change-view__link.change-view__link_normal.active(href="#")
									li.change-view__item
										a.change-view__link.change-view__link_multi(href="#")

						.opacity.opacity__style.separator
							.opacity__title Прозрачность
							.opacity__slider

						.buttons.separator
							button.buttons__reset(type="reset") Сброс
							button.buttons__download(type="submit") Скачать

					//.sidebar__disable

			.icons
				ul.icons__lang-list
					li.icons__lang-item.active#rus
						a.icons__lang-link(href="#") РУС
					li.icons__lang-item#eng
						a.icons__lang-link(href="#") ENG

				.icons__instuctions
					a.icons__instuctions_link(href="#")

				.icons__social
					a.icons__social-link.like(href="#")
					ul.icons__social-list
						- var items = ['fb', 'tw', 'vk']
						each item in items
							li(class="icons__social-item icons__social-item_" + item)
								a.icons__social-link(href="#")

			.popup
				.popup__container
					.popup__logo-container
						img.popup__logo(src="img/popup-logo.png")
					.poput__content
						h2.popup__title Как пользоваться приложением
						ol.popup__text__list
							li.popup__text__item Выберите и загрузите рисунок с помощь первого поля выбора файла
							li.popup__text__item Выберите и загрузите рисунок водяного знака с помощь второго поля выбора файла
							li.popup__text__item После выбора файлов основного рисунка и вотермарка станут доступня различные настройки.
							li.popup__text__item Используйте настройки манипуляции и вотермарком
							li.popup__text__item Если вас не устраивают настройки вотермарка нажмите кнопку сброс
							li.popup__text__item Для сохранения результата нажмите кнопку скачать




		footer.footer © 2015. addWatermark - разработка D.I.M.A. unity

		script(src="bower/jquery/dist/jquery.js")
		script(src="bower/qtip2/jquery.qtip.js")
		script(src="bower/jquery-ui/jquery-ui.min.js")
		script(src="bower/blueimp-file-upload/js/jquery.iframe-transport.js")
		script(src="bower/blueimp-file-upload/js/jquery.fileupload.js")
		script(src="bower/sweetalert/dist/sweetalert.min.js")
		script(src="js/fileLoadToForm.js")
		script(src="js/main.js")
		script(src="js/resizeImage.js")
		script(src="bower/bPopup/jquery.bpopup.min.js")
		script(src="bower/particles.js/particles.min.js")