include _common/_mixins
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html(lang="ru-RU")
	head
		include _common/_head
		title Приложение для добавления водяных знаков на фотографию
	body
		.wrapper
			.icons
				ul.icons__lang-list
					li.icons__lang-item.active#rus
						a.icons__lang-link(href="#") РУС
					li.icons__lang-item#eng
						a.icons__lang-link(href="#") ENG
				.icons__social
					a.icons__social-link.like(href="#")
					ul.icons__social-list
						- var items = ['fb', 'tw', 'vk']
						each item in items
							li(class="icons__social-item icons__social-item_" + item)
								a.icons__social-link(href="#")

			.main
				section.image-view
					.image-view__text
						h1.image-view__title Генератор водяных знаков
					.image-view__container
						.image-view__container-main-image(data-ratio=0)
							img.image-view__main-img
							img.image-view__water-img
							.wrap-image-view__water-till-block(data-x-elem=0 data-y-elem=0)
								

				aside.saidbar
					form(id="upload" action="php/compileImg.php" method="POST" enctype="multipart/form-data")
						.saidbar_text
							h2.saidbar__title Настройки

						.file-upload
							label.file-upload__label
								.file-upload__title Исходное изображение
								.file-upload__container
									input.file-upload__input(type="file" id="fileupload" name="files[]" accept="image/jpeg, image/jpg")
									.file-upload__fake#fake image.jpg
									.file-upload__icon
									input.file-upload__inputInvis(type="text" name="mainFileText" id="mainFileText")

							label.file-upload__label
								.file-upload__title Водяной знак
								.file-upload__container
									input.file-upload__input(type="file" id="fileuploadWat" accept="image/png")
									.file-upload__fake#fakeWat image.png
									.file-upload__icon
									input.file-upload__inputInvis(type="text" name="waterFileText" id="waterFileText")

						.position.separator
							input(class='checkMode' type="radio" name='checkMode' id='checkModeNormal' value='Normal' checked)
							input(class='checkMode' type="radio" name='checkMode' id='checkModeTilling' value='Tilling')
							.position__title Положение
							.position-container
								
								.position-left
									-var datas = ['top-left', 'top-center', 'top-right', 'mid-left', 'mid-center', 'mid-right', 'btm-left', 'btm-center', 'btm-right']; 
									ul.position-left__list
										each item in datas
											li(class="position-left__item" data-pos= item) like
												a.position-left__link(href="#")
								.position-right
									.position-right__top
										span.position-right__vector X
										input.position-right__input-top(type="text" value="0" name="positionX")
										.position-right__buttons
											a.position-right__up(href="#")
											a.position-right__down(href="#")

									.position-right__bottom
										span.position-right__vector Y
										input.position-right__input-bot(type="text" value="0" name="positionY")
										.position-right__buttons
											a.position-right__up(href="#")
											a.position-right__down(href="#")
						.opacity.opacity__style.separator
							.opacity__title Прозрачность
							.opacity__slider

						.buttons.separator
							button.buttons__reset(type="reset") Сброс
							button.buttons__download(type="submit") Скачать

					.sidebar__disable


		footer.footer © 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его

		script(src="bower/jquery/dist/jquery.js")
		script(src="bower/qtip2/jquery.qtip.js")
		script(src="bower/jquery-ui/jquery-ui.min.js")
		script(src="bower/blueimp-file-upload/js/jquery.iframe-transport.js")
		script(src="bower/blueimp-file-upload/js/jquery.fileupload.js")
		script(src="bower/sweetalert/dist/sweetalert.min.js")
		script(src="js/fileLoadToForm.js")
		script(src="js/main.js")
		script(src="js/resizeImage.js")
