meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
// SEO
meta(name="description" content="addWatermark - генератор водяных знаков")
meta(name="keywords" content="генератор водяных знаков")
meta(name="description" content="генератор водяных знаков")
// favicons
link(rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png")
link(rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32")
link(rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96")
link(rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16")
link(rel="manifest" href="/img/favicons/manifest.json")
link(rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5")
meta(name="msapplication-TileColor" content="#da532c")
meta(name="theme-color" content="#ffffff")
// includes
script(src="bower/modernizr/modernizr.js")
link(rel="stylesheet" type='text/css' href="bower/normalize-css/normalize.css")
link(rel="stylesheet" type='text/css' href="css/main.css")
link(rel="stylesheet" type='text/css' href="bower/jquery-ui/themes/base/jquery-ui.css")
link(rel="stylesheet" type="text/css" href="bower/sweetalert/dist/sweetalert.css")

