meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
// SEO
meta(name="description" content="Сайт Дмитрия Межуева")
meta(name="keywords" content="разработка сайтов, frontend разработка, веб-дизайн")
meta(name="description" content="Дмитрий Межуев")
// favicons

// includes
script(src="bower/modernizr/modernizr.js")
link(rel="stylesheet" type='text/css' href="/bower/normalize-css/normalize.css")
link(rel="stylesheet" type='text/css' href="/js/components/jquery-ui/jquery-ui.css")
link(rel="stylesheet" type='text/css' href="/js/components/select/select2.css")
link(rel="stylesheet" type='text/css' href="/css/main.css")