mixin nav(className, items, active)
	nav(class= className)
		ul(class= className + "__list")
			each item,inActive in items
				li(class= className + "__item")
					a(href="#" class= className + "__link" + ((active == inActive) ? ' ' + className + '__link' + '_active' : ''))= item